section.about-section
  .wrapper
    .about-section__container
      img.about-section__vegetables(src="images/about-section-vegetables.png" loading="lazy" width="274" height="104" alt="image")
      img.about-section__cutlet(src="images/about-section-cutlet.png" loading="lazy" width="293" height="150" alt="image")
      h2.about-section__title.font-w-ps-regular.font-s-60.text-up
        | 7 лет делаем вкусные бургеры 
        br.no-br
        span.color-beige.title-margin-left которые так любят наши гости
      .about-section__cards-wrapper
        .swiper-about
          .about-section__cards.swiper-wrapper
            .about-section__card-1.card-1-margin.swiper-slide
              img.about-section__card-1(src="images/about-section-img-1.JPEG" loading="lazy" width="1844" height="1036" alt="image")
            .about-section__card-2.swiper-slide
              img.about-section__card-2(src="images/about-section-img-2.jpg" loading="lazy" width="932" height="518" alt="image")
            .about-section__card-3-wrapper.swiper-slide
              img.about-section__card-3(src="images/about-section-img-3.jpg" loading="lazy" width="608" height="420" alt="image")
            .about-section__card-4-wrapper.swiper-slide
              img.about-section__card-4(src="images/about-section-img-4.jpg" loading="lazy" width="442" height="420" alt="image")
            .about-section__card-5-wrapper.swiper-slide
              img.about-section__card-5(src="images/about-section-img-5.jpg" loading="lazy" width="624" height="420" alt="image")
            .about-section__card-6-wrapper.swiper-slide
              img.about-section__card-6(src="images/about-section-img-6.png" loading="lazy" width="347" height="263" alt="image")
          .about-pagination.swiper-progress-about
      img.about-section__arrows(src="images/about-section-arrows.svg" loading="lazy" width="39" height="25" alt="icon")
      .about-section__history-block-1
        img.about-section__history-block-1-logo(src="images/about-section-history-block-1-logo.svg" loading="lazy" width="152" height="93" alt="icon")
        img.about-section__history-block-1-img(src="images/about-section-history-block-1-img.png" loading="lazy" width="294" height="328" alt="image")
        .font-w-regular.font-s-26
          span.font-w-bold «МИТБЕРИ» — 
          | это не просто очередная бургерная. Это целый 
          br.no-br
          | коллектив единомышленников, воплощающих в жизнь идею об 
          br.no-br
          | идеальном фастфуде. Все началось с того, что нам надоело есть 
          br.no-br
          | стандартные бургеры — слишком калорийные, собирающиеся 
          br.no-br
          | преимущественно из полуфабрикатов и замороженных заготовок.
      .about-section__history-block-2.color-black
        img.about-section__history-block-2-img(src="images/about-section-history-block-2-img.png" loading="lazy" width="316" height="436" alt="image")
        .font-w-regular.font-s-18
          | Поэтому мы поколдовали над рецептами, 
          br.no-br
          | подыскали подходящую площадь, заключили 
          br.no-br
          | договоры с крупными поставщиками и в 2017 
          br.no-br
          | году открыли первую точку «Митбери» со 
          br.no-br
          | свежайшими бургерами из натуральной 
          br.no-br
          | отборной говядины.
        .font-w-bold.font-s-18
          | Мы сами делаем котлеты, сами печем булочки 
          br.no-br
          | и замешиваем соусы. Это на 100% handmade- 
          br.no-br
          | продукция, за качество и вкус которой мы 
          br.no-br
          | ручаемся. Благодаря этому, наше заведение 
          br.no-br
          | приносит стабильную прибыль и пользуется 
          br.no-br
          | огромной популярностью у клиентов.
      .about-section__bottom
        img.about-section__bottom-img(src="images/about-section-bottom-img.png" loading="lazy" width="678" height="636" alt="image")
        .about-section__bottom-title.font-w-regular.font-s-18
          | Хотите получить детальные расчеты 
          br.no-br
          | для вашего города и под ваш бюджет?
        .about-section__bottom-sub-title.font-w-ps-regular.font-s-32.text-up
          | Скачайте финансовую 
          br.no-br
          | модель франшизы 
          br.no-br
          | «МИТБЕРИ»
        form.about-section__form(data-feedback-form)
          input.input.about-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.about-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.about-item(type="submit") ПОЛУЧИТЬ
      .about-section__history-block-3
        img.about-section__history-block-3-img(src="images/about-section-history-block-3-img.png" loading="lazy" width="890" height="890" alt="image")
        img.about-section__history-block-3-arrow(src="images/about-section-history-block-3-arrow.svg" loading="lazy" width="68" height="29" alt="image")
        .font-w-regular.font-s-18
          span.font-w-bold.color-beige
            | Для наших новых франчайзи мы 
            br.no-br
            | подготовили весь набор информации для 
            br.no-br
            | запуска собственного бизнеса в этой 
            br.no-br
            | интересной сфере. 
          | Мы передадим вам все 
          br.no-br
          | секреты бизнес-процессов, уникальные 
          br.no-br
          | рецепты приготовления, и главное — 
          br.no-br
          | поможем избежать ошибок, которые 
          br.no-br
          | съедают деньги и время при 
          br.no-br
          | самостоятельном запуске.
