section.presentation-section
  .presentation-section__wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-regular.font-s-54.text-up
        | так будет выглядеть 
        span.color-gold ваша студия
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="960" height="640" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="960" height="640" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="960" height="640" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="960" height="640" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img5.jpg" loading="lazy" width="960" height="640" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img6.jpg" loading="lazy" width="960" height="640" alt="image")
        .swiper-progress-desktop.desktop-pagination
        .swiper-buttons
          button.button-next(aria-label="prev")
            img(src="images/presentation-section-btn.png" loading="lazy" width="68" height="69" alt="prev")
          button.button-prev(aria-label="next")
            img(src="images/presentation-section-btn.png" loading="lazy" width="68" height="69" alt="next")
  .finances-section__bottom-line

