section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="1530" height="818" alt="image")
      h2.reasons-section__title.font-w-regular.font-s-54.text-up
        span.color-gold 3 причины 
        | открыть ногтевую 
        br.no-br
        | студию по франшизе
      img.reasons-section__logo-icon(src="images/reasons-section-logo-icon.png" loading="lazy" width="720" height="122" alt="logo")
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img1.jpg" loading="lazy" width="656" height="504" alt="image")
            .reasons-section__card-title.font-w-medium.font-s-20 Актуальность
            .font-w-light.font-s-18
              | Согласно статистике, маникюр 
              br.no-br-xxl
              | считается одним из самых 
              br.no-br-xxl
              | популярных направлений в beauty- 
              br.no-br-xxl
              | индустрии, на него приходится 
              br.no-br-xxl
              | треть (33%) всех заказов в сфере 
              br.no-br-xxl
              | красоты.
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img2.jpg" loading="lazy" width="656" height="504" alt="image")
            .reasons-section__card-title.font-w-medium.font-s-20 Концепция
            .font-w-light.font-s-18
              | Вы откроете студию, где будет 
              br.no-br-xxl
              | оказываться широкий спектр услуг 
              br.no-br-xxl
              | по самым доступным ценам среди 
              br.no-br-xxl
              | конкурентов и сможете быстро 
              br.no-br-xxl
              | занять свое место на рынке.
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img3.jpg" loading="lazy" width="656" height="504" alt="image")
            .reasons-section__card-title.font-w-medium.font-s-20 Бизнес-модель
            .font-w-light.font-s-18
              | Вместе с нами вы сможете быстро 
              br.no-br-xxl
              | и правильно запустить все 
              br.no-br-xxl
              | процессы бизнеса всего за 3 
              br.no-br-xxl
              | месяца и начать зарабатывать 
              br.no-br-xxl
              | стабильную чистую прибыль с 
              br.no-br-xxl
              | первых дней работы студии.
        .reasons-pagination.swiper-progress-reasons
      .reasons-section__line
      .font-w-medium.font-s-26 Узнайте больше о работе с нами
      .reasons-section__bottom-text.font-w-regular.font-s-22
        | Скачайте договор, в котором описаны наши обязанности 
        br.no-br
        | и все условия сотрудничества
      button.btn.btn--secondary.reasons-item(data-remodal-target="modal-form-agreement") Скачать пример договора
