section.start-section
  .wrapper
    .start-section__container
      img.start-section__bottom-img-mobile(src="images/start-section-bottom-img.png" loading="lazy" width="628" height="613" alt="image")
      h2.start-section__title.font-w-bold.font-s-40.text-up.text-center
        | Как мы поможем 
        br.no-br
        | вам на старте
      .swiper-start
        .start-section__items.swiper-wrapper
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Проведем для вас 5-ти дневное дистанционное обучение
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Предоставим обучающие материалы для сотрудников
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Поделимся методами привлечения первых клиентов
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Предоставим фирменные рекламные материалы
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Поможем с организацией юридических вопросов
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Дадим рекомендации по работе бухгалтерии
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Подключим к общему программному обеспечению
          .start-section__item.swiper-slide
            img.start-section__check(src="images/start-section-check.svg" loading="lazy" width="46" height="34" alt="check")
            .font-w-medium.font-s-28 Добавим в закрытое сообщество партнеров сети
        .start-pagination.swiper-progress-start
      .start-section__bottom
        img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="628" height="613" alt="image")
        .font-s-28.text-up
          | Работаем строго по договору, 
          br.no-br
          | в котором описаны наши 
          span.color-orange обязанности 
          br.no-br
          | и все 
          span.color-orange условия сотрудничества
        button.btn.start-item(data-remodal-target="modal-form-agreement") Скачать пример договора
      //- .swiper-start
      //-   .start-section__cards.swiper-wrapper
      //-     .start-section__card.font-s-24.swiper-slide
      //-       span.font-w-medium
      //-         | Заключение 
      //-         br
      //-         | договора 
      //-       br
      //-       | франшизы
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Поиск 
      //-       span.font-w-medium помещения
      //-       br
      //-       | и заключение 
      //-       br
      //-       span.font-w-medium договора аренды
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Согласование 
      //-       br
      //-       span.font-w-medium дизайн-проекта
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Ремонт и
      //-       br
      //-       | оформление
      //-       br
      //-       span.font-w-medium помещения
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Подбор 
      //-       span.font-w-medium персонала
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Доставка и монтаж
      //-       br
      //-       | приобретенного 
      //-       br
      //-       span.font-w-medium оборудования,
      //-       br
      //-       | мебели
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Формирование 
      //-       br
      //-       | учебных 
      //-       br
      //-       span.font-w-medium материалов 
      //-       | и 
      //-       br
      //-       span.font-w-medium пособий
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Проведение 
      //-       br
      //-       span.font-w-medium рекламных
      //-       br
      //-       | компаний
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Обучение
      //-       br
      //-       span.font-w-medium сотрудников
      //-     .start-section__card.font-s-24.swiper-slide
      //-       | Официальное 
      //-       br
      //-       span.font-w-medium открытие 
      //-       | и 
      //-       span.font-w-medium старт 
      //-       br
      //-       | работы
      //-   .start-pagination.swiper-progress-start
      //- .start-section__bottom
      //-   img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="955" height="1051" alt="image")
      //-   .start-section__bottom-title.font-w-dgo-regular.font-s-23.text-up
      //-     | Работаем строго по 
      //-     span.mark-orange договору
      //-     | , 
      //-     br.no-br
      //-     | в котором описаны наши обязанности 
      //-     br.no-br
      //-     | и все условия сотрудничества
      //-   button.btn.start-item(data-remodal-target="modal-form-agreement") Скачать пример договора
