section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__title-icon(src="images/steps-section-title-icon.png" loading="lazy" width="236" height="210" alt="icon")
      h2.steps-section__title.font-s-50.font-w-ps-regular.text-up
        span.color-red Помогаем и поддерживаем 
        br.no-br
        | на всех этапах сотрудничества
      img.steps-section__arrows(src="images/steps-section-arrows.svg" loading="lazy" width="39" height="25" alt="icon")
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon1.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Согласование и <br> заключение договора <br> франшизы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon2.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Создание и <br> согласование дизайн- <br> проекта
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon3.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Поиск помещения и <br> заключение договора <br> аренды
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon4.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Ремонт и оформление <br> помещения
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon5.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Поиск <br> персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon6.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Доставка <br> оборудования
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon7.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Заключение договоров <br> с поставщиками
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon8.png" loading="lazy" width="160" height="280" alt="icon")
            .steps-section__card-text.font-s-24 Обучение <br> персонала

          .steps-section__card.steps-section-relative.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon9.png" loading="lazy" width="160" height="280" alt="icon")
            img.steps-section__card-icon-inner(src="images/steps-section-card-icon9-inner.png" loading="lazy" width="270" height="240" alt="icon")
            .steps-section__card-text-2.font-w-bold.font-s-24 Официальное <br> открытие
          .steps-section__card.steps-section-relative.swiper-slide
            img.steps-section__card-icon-10(src="images/steps-section-card-icon10.png" loading="lazy" width="204" height="280" alt="icon")
            img.steps-section__card-icon-10-inner(src="images/steps-section-card-icon10-inner.png" loading="lazy" width="314" height="304" alt="icon")
            .steps-section__card-text-2.font-s-24 Развитие и <br> масштабирование
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom.png" loading="lazy" width="1652" height="974" alt="icon")
        .font-w-ps-regular.font-s-32.color-beige.text-center.text-up Работаем строго по договору
        .font-s-22.text-center.text-up в котором описаны наши обязанности и все условия сотрудничества
        .steps-section__bottom-inner
          button.btn(data-remodal-target="modal-form-agreement") ПОСМОТРЕТЬ ПРИМЕР ДОГОВОРА
