section.support-section
  .wrapper
    .support-section__container
      img.support-section__bottom-img(src="images/support-section-bottom-img.png" loading="lazy" width="1504" height="782" alt="image")
      h2.support-section__title.font-w-regular.font-s-54.text-up
        span.color-gold Меры поддержки 
        br.no-br
        | партнёров сети
      .support-section__sub-title.font-w-regular.font-s-22
        | Как мы поможем вам на старте
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon1.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Проведем дистанционное <br> обучение в течение 5-ти дней
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon2.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Поможем собрать сильную <br> команду профессионалов
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon3.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Дадим рекомендации по подбору <br> и оформлению помещения
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon4.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Поможем с техническим <br> оборудованием точки
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon5.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Поделимся своими методами <br> привлечения клиентов
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon6.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Дадим рекомендации по <br> ведению социальных сетей
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon7.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Передадим готовую систему <br> лояльности франшизы
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon8.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Подключим к общему <br> программному обеспечению
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon9.svg" loading="lazy" width="54" height="54" alt="icon")
            .support-section__card-text.font-w-light Добавим в закрытое <br> сообщество партнёров
        .support-pagination.swiper-progress-support
      img.support-section__img(src="images/support-section-img.jpg" loading="lazy" width="1194" height="1530" alt="image")
      .support-section__bottom
        .font-w-medium.font-s-26 Узнайте больше о работе с нами
        .support-section__bottom-text.font-w-regular.font-s-22
          | Скачайте договор, в котором описаны наши 
          br.no-br
          | обязанности и все условия сотрудничества
        button.btn.btn--secondary.support-item(data-remodal-target="modal-form-agreement") Скачать пример договора
