.main-section
  background-image: url('../images/main-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #060608

  &__container
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      padding 25px 0 60px 0
    +above($breakpoints.md)
      padding 30px 0 120px 0
    +above($breakpoints.xxl)
      padding 38px 0 169px 0

  &__title,
  &__sub-title,
  &__privacy
    text-align: center
    +above($breakpoints.sm)
      text-align: start

  &__title
    padding 20px 0 12px 0
    +above($breakpoints.sm)
      padding 60px 0 12px 0
    +above($breakpoints.md)
      padding 100px 0 12px 0
    +above($breakpoints.xxl)
      letter-spacing: -3px
      padding 150px 0 12px 0

  &__logo-icon
    width 230px
    height: auto
    margin 0 auto
    +above($breakpoints.sm)
      margin 0
      width 200px
    +above($breakpoints.md)
      width 320px
    +above($breakpoints.xxl)
      width 420px

  &__sub-title
    padding 15px 0 15px 0
    +above($breakpoints.sm)
      padding 30px 0 20px 0
    +above($breakpoints.md)
      padding 40px 0 25px 0
    +above($breakpoints.xxl)
      padding 58px 0 28px 0

  &__form
    width 100%
    max-width: 488px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content center
    gap: 8px
    +above($breakpoints.sm)
      max-width: 454px
      justify-content start
    +above($breakpoints.md)
      max-width: 555px

  &__img
    width 280px
    height: auto
    margin 20px auto 0
    +above($breakpoints.sm)
      margin 0
      position: absolute
      width 300px
      right: 0
      bottom: 81px
    +above($breakpoints.md)
      width: 500px;
      right: -40px;
      bottom: 70px;
    +above($breakpoints.xxl)
      width: 655px;
      right: -90px;
      bottom: 99px;

  &__privacy
    color: #B4B4B4
    margin 0 auto
.agree-privacy
  cursor pointer
  text-decoration: underline

.main-item
  width 280px !important
  +above($breakpoints.sm)
    width 200px !important
  +above($breakpoints.md)
    width 240px !important
