.swiper-progress-finances
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #473425 0%, #ad8e67 100%)

.swiper-progress-reasons
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #473425 0%, #ad8e67 100%)


.swiper-progress-invest
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #473425 0%, #ad8e67 100%)

.swiper-progress-support
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #473425 0%, #ad8e67 100%)

.swiper-progress-details
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 20px 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #473425 0%, #ad8e67 100%)

.swiper-progress-desktop
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #F4EEE9
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #473425 0%, #ad8e67 100%)

.button-next,
.button-prev
  border-radius: 50%
.button-next,
.button-prev
  img
    width 20px
    height: auto
    +above($breakpoints.xxl)
      width 34px

.button-prev
  transform: rotateY(180deg)

.swiper-buttons
  display: none
  +above($breakpoints.sm)
    display: flex
    flex-direction: row
    justify-content space-between
    align-items: center
    margin: 20px auto 1px
    width 60px
  +above($breakpoints.xxl)
    margin: 30px auto 1px
    width 118px

// .swiper-pagination
//   z-index 0 !important
//   margin: 0 0 20px 0
//   +above($breakpoints.md)
//     margin: 0 0 70px 0
//   +above($breakpoints.xxl)
//     margin: 0 0 134px 0
// .swiper-pagination-bullet
//   width: 5px;
//   height: 5px;
//   border-radius: 50%;
//   background: transparent
//   border: 1px solid #6A6A6A
// .swiper-pagination-bullet-active
//   opacity: 1;
//   background: transparent
//   border: 1px solid #fff